#jinja2: lstrip_blocks: True

{% set vitam_struct = vitam.ingestexternal %}

{% set composant_name = vitam_struct.antivirus | default('clamav')  %}

{% if composant_name == "clamav" %}
#
#  antivirus "{{ composant_name }}"
#
- type: filestream
  id: "{{ vitam_site_name }}-{{ composant_name }}-error"
  enabled: {{ filebeat.cots.antivirus.enable_log }}
  paths:
    - "{{ vitam_defaults.folder.root_path }}/log/{{ composant_name }}/*.log"
  fields:
    kind: log
    vitam_component: clamd
    source: vitam

- type: filestream
  id: "{{ vitam_site_name }}-antivirus-scan"
  enabled: {{ filebeat.cots.antivirus.enable_scan }}
  paths:
    - "{{ vitam_defaults.folder.root_path }}/log/{{ composant_name }}/clamd.scan"
  fields:
    kind: scan
    vitam_component: clamd
    source: vitam

{% else  %}
#
#  antivirus "{{ composant_name }}"
#
- type: filestream
  id: "{{ vitam_site_name }}-{{ composant_name }}-error"
  enabled: {{ filebeat.cots.antivirus.enable_log }}
  paths:
    - "{{ vitam_defaults.folder.root_path }}/log/{{ composant_name }}/*.log"
  fields:
    kind: log
    vitam_component: avast
    source: vitam

{% endif %}
