#jinja2: lstrip_blocks: True
{% for vitam_service in vitam_service_list %}
#
# VITAM SERVICE : {{ vitam_service }}
#
  {% if filebeat.services[vitam_service].enable_access | default(true) | bool %}
- type: filestream
  id: {{ vitam_site_name }}-{{ vitam_service }}-access
  enabled: {{ {'access_external': filebeat.services.access_external.enable_access,
    'access_internal': filebeat.services.access_internal.enable_access,
    'functional_administration': filebeat.services.functional_administration.enable_access,
    'scheduler': filebeat.services.scheduler.enable_access,
    'batch_report': filebeat.services.batch_report.enable_access,
    'ingest_external': filebeat.services.ingest_external.enable_access,
    'ingest_internal': filebeat.services.ingest_internal.enable_access,
    'ihm_demo': filebeat.services.ihm_demo.enable_access,
    'logbook': filebeat.services.logbook.enable_access,
    'metadata': filebeat.services.metadata.enable_access,
    'processing': filebeat.services.processing.enable_access,
    'security_internal': filebeat.services.security_internal.enable_access,
    'storage_engine': filebeat.services.storage_engine.enable_access,
    'offer': filebeat.services.offer.enable_access,
    'worker': filebeat.services.worker.enable_access,
    'workspace': filebeat.services.workspace.enable_access,
    'collect_internal': filebeat.services.collect_internal.enable_access,
    'collect_external': filebeat.services.collect_external.enable_access,
    'metadata_collect': filebeat.services.metadata_collect.enable_access,
    'workspace_collect': filebeat.services.workspace_collect.enable_access} [vitam_service] | default(true) | bool | lower }}
  paths:
    - "{{ vitam_defaults.folder.root_path }}/log/{{ vitam_service }}/accesslog-{{ vitam_service }}.*.log"
  fields_under_root: true
  fields:
    kind: access
    vitam_component: {{ vitam_service }}
    source: vitam
  processors:
    - dissect:
        tokenizer: '%{client_ip|ip} - - %{date_time} "%{http_method} %{request_path} HTTP/%{http_version}" %{http_status_code|integer} %{response_size|integer} "%{referer}" "%{user_agent}" %{duration|integer} %{request_id} %{tenant_id|integer} %{application_id}'
        target_prefix: ""
    - drop_fields:
        fields: ["date_time"]
  {% endif %}

  {% if filebeat.services[vitam_service].enable_security | default(true) | bool %}
- type: filestream
  id: {{ vitam_site_name }}-{{ vitam_service }}-security
  enabled: {{ {'access_external': filebeat.services.access_external.enable_security,
    'access_internal': filebeat.services.access_internal.enable_security,
    'functional_administration': filebeat.services.functional_administration.enable_security,
    'scheduler': filebeat.services.scheduler.enable_security,
    'batch_report': filebeat.services.batch_report.enable_security,
    'ingest_external': filebeat.services.ingest_external.enable_security,
    'ingest_internal': filebeat.services.ingest_internal.enable_security,
    'ihm_demo': filebeat.services.ihm_demo.enable_security,
    'logbook': filebeat.services.logbook.enable_security,
    'metadata': filebeat.services.metadata.enable_security,
    'processing': filebeat.services.processing.enable_security,
    'security_internal': filebeat.services.security_internal.enable_security,
    'storage_engine': filebeat.services.storage_engine.enable_security,
    'offer': filebeat.services.offer.enable_security,
    'worker': filebeat.services.worker.enable_security,
    'workspace': filebeat.services.workspace.enable_security,
    'collect_internal': filebeat.services.collect_internal.enable_security,
    'collect_external': filebeat.services.collect_external.enable_security,
    'metadata_collect': filebeat.services.metadata_collect.enable_security,
    'workspace_collect': filebeat.services.workspace_collect.enable_security} [vitam_service] | default(true) | bool | lower }}
  paths:
    - "{{ vitam_defaults.folder.root_path }}/log/{{ vitam_service }}/{{ vitam_service }}_security.*.log"
  fields_under_root: true
  fields:
    kind: security
    vitam_component: {{ vitam_service }}
    source: vitam
    type: application
  processors:
    - dissect:
        tokenizer: '%{date_time} [[%{thread}]] [%{operation_id}] [%{tenant_id|integer}] %{log_level} %{logger} - %{log_message}'
        target_prefix: ""
    - drop_fields:
        fields: ["date_time"]
  parsers:
    - multiline:
        type: pattern
        pattern: '^\d{4}-\d{2}-\d{2}\s+\d{2}:\d{2}:\d{2},\d{3}'
        negate: true
        match: after
  {% endif %}

  {% if filebeat.services[vitam_service].enable_log | default(true) | bool %}
- type: filestream
  id: {{ vitam_site_name }}-{{ vitam_service }}-log
  enabled: {{ {'access_external': filebeat.services.access_external.enable_log,
    'access_internal': filebeat.services.access_internal.enable_log,
    'functional_administration': filebeat.services.functional_administration.enable_log,
    'scheduler': filebeat.services.scheduler.enable_log,
    'batch_report': filebeat.services.batch_report.enable_log,
    'ingest_external': filebeat.services.ingest_external.enable_log,
    'ingest_internal': filebeat.services.ingest_internal.enable_log,
    'ihm_demo': filebeat.services.ihm_demo.enable_log,
    'logbook': filebeat.services.logbook.enable_log,
    'metadata': filebeat.services.metadata.enable_log,
    'processing': filebeat.services.processing.enable_log,
    'security_internal': filebeat.services.security_internal.enable_log,
    'storage_engine': filebeat.services.storage_engine.enable_log,
    'offer': filebeat.services.offer.enable_log,
    'worker': filebeat.services.worker.enable_log,
    'workspace': filebeat.services.workspace.enable_log,
    'collect_internal': filebeat.services.collect_internal.enable_log,
    'collect_external': filebeat.services.collect_external.enable_log,
    'metadata_collect': filebeat.services.metadata_collect.enable_log,
    'workspace_collect': filebeat.services.workspace_collect.enable_log} [vitam_service] | default(true) | bool | lower }}
  paths:
    - "{{ vitam_defaults.folder.root_path }}/log/{{ vitam_service }}/{{ vitam_service }}.*.log"
  fields_under_root: true
  fields:
    kind: log
    vitam_component: {{ vitam_service }}
    source: vitam
  processors:
    - dissect:
        tokenizer: '%{date_time} [%{thread}] [%{request_id}] [%{tenant_id|integer}] %{log_level}  %{logger} - %{log_message}'
        target_prefix: ""
    - drop_fields:
        fields: ["date_time"]
  parsers:
    - multiline:
        type: pattern
        pattern: '^\d{4}-\d{2}-\d{2}\s+\d{2}:\d{2}:\d{2},\d{3}'
        negate: true
        match: after
  {% endif %}
{% endfor %}
