#jinja2: lstrip_blocks: True

- module: logstash
  log:
    enabled: "{{ filebeat.cots.logstash.enable_log }}"
    var.paths:
      - "{{ vitam_defaults.folder.root_path }}/log/logstash/logstash-plain.log"
    input:
      fields:
        kind: log
        vitam_component: logstash
        source: vitam

  slowlog:
    enabled: false
