#jinja2: lstrip_blocks: True

{% if inventory_hostname in groups['hosts_mongos_offer'] or inventory_hostname in groups['hosts_mongos_data'] %}
- module: mongodb
  log:
    enabled: {{ filebeat.cots.mongodb_offer.mongos.enable_log if inventory_hostname in groups['hosts_mongos_offer'] else filebeat.cots.mongodb_data.mongos.enable_log if inventory_hostname in groups['hosts_mongos_data'] }}
    var.paths:
      - "{{ vitam_defaults.folder.root_path }}/log/mongos/mongo*.log"
    input:
      fields:
        kind: log
        vitam_component: '{% if inventory_hostname in groups["hosts_mongos_offer"] %}mongos_offer{% endif %}{% if inventory_hostname in groups["hosts_mongos_data"] %}mongos_data{% endif %}'
        source: vitam
      processors:
        - decode_json_fields:
            fields: ["message"]
            overwrite_keys: true
            add_error_key: true
        - script:
            lang: javascript
            id: set_log_level
            source: >
              function process(event) {
                switch (event.Get("message.s")) {
                    case "I":
                        event.Put("loglevel", "INFO");
                        break;
                    case "W":
                        event.Put("loglevel", "WARN");
                        break;
                    case "E":
                        event.Put("loglevel", "ERROR");
                        break;
                    case "F":
                        event.Put("loglevel", "FATAL");
                        break;
                    default:
                        event.Put("loglevel", "UNKNOWN");
                }
              }
{% endif %}

{% if inventory_hostname in groups['hosts_mongoc_offer'] or inventory_hostname in groups['hosts_mongoc_data'] %}
- module: mongodb
  log:
    enabled: {{ filebeat.cots.mongodb_offer.mongoc.enable_log if inventory_hostname in groups['hosts_mongoc_offer'] else filebeat.cots.mongodb_data.mongoc.enable_log if inventory_hostname in groups['hosts_mongoc_data'] }}
    var.paths:
      - "{{ vitam_defaults.folder.root_path }}/log/mongoc/mongo*.log"
    input:
      fields:
        kind: log
        vitam_component: '{% if inventory_hostname in groups["hosts_mongoc_offer"] %}mongoc_offer{% endif %}{% if inventory_hostname in groups["hosts_mongoc_data"] %}mongoc_data{% endif %}'
        source: vitam
      processors:
        - decode_json_fields:
            fields: ["message"]
            overwrite_keys: true
            add_error_key: true
        - script:
            lang: javascript
            id: set_log_level
            source: >
              function process(event) {
                switch (event.Get("message.s")) {
                    case "I":
                        event.Put("loglevel", "INFO");
                        break;
                    case "W":
                        event.Put("loglevel", "WARNING");
                        break;
                    case "E":
                        event.Put("loglevel", "ERROR");
                        break;
                    case "F":
                        event.Put("loglevel", "FATAL");
                        break;
                    default:
                        event.Put("loglevel", "UNKNOWN");
                }
              }
{% endif %}

{% if inventory_hostname in groups['hosts_mongod_offer'] or inventory_hostname in groups['hosts_mongod_data'] %}
- module: mongodb
  log:
    enabled: {{ filebeat.cots.mongodb_offer.mongod.enable_log if inventory_hostname in groups['hosts_mongod_offer'] else filebeat.cots.mongodb_data.mongod.enable_log if inventory_hostname in groups['hosts_mongod_data'] }}
    var.paths:
      - "{{ vitam_defaults.folder.root_path }}/log/mongod/mongo*.log"
    input:
      fields:
        kind: log
        vitam_component: '{% if inventory_hostname in groups["hosts_mongod_offer"] %}mongod_offer{% endif %}{% if inventory_hostname in groups["hosts_mongod_data"] %}mongod_data{% endif %}'
        source: vitam
      processors:
        - decode_json_fields:
            fields: ["message"]
            overwrite_keys: true
            add_error_key: true
        - script:
            lang: javascript
            id: set_log_level
            source: >
              function process(event) {
                switch (event.Get("message.s")) {
                    case "I":
                        event.Put("loglevel", "INFO");
                        break;
                    case "W":
                        event.Put("loglevel", "WARNING");
                        break;
                    case "E":
                        event.Put("loglevel", "ERROR");
                        break;
                    case "F":
                        event.Put("loglevel", "FATAL");
                        break;
                    default:
                        event.Put("loglevel", "UNKNOWN");
                }
              }
{% endif %}
