---

actions:
  1:
    action: close
    description: >-
      Close {{ curator.indices[item.1].prefix | default('logstash-' + item.1) }} prefixed indices older than {{ curator.indices[item.1].close | default(10) }} days (based on index name).
    options:
      ignore_empty_list: True
      delete_aliases: False
      timeout_override:
      continue_if_exception: False
      disable_action: False
    filters:
    - filtertype: pattern
      kind: prefix
      value: {{ curator.indices[item.1].prefix | default('logstash-' + item.1) }}
      exclude:
    - filtertype: age
      source: name
      direction: older
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: {{ curator.indices[item.1].close | default(10) }}
      exclude:
