---

actions:
  2:
    action: delete_indices
    description: >-
      Delete {{ curator.indices[item.1].prefix | default('logstash-' + item.1) }} prefixed indices older than {{ curator.indices[item.1].delete | default(30) }} days (based on index name).
    options:
      ignore_empty_list: True
      timeout_override:
      continue_if_exception: False
    filters:
    - filtertype: pattern
      kind: prefix
      value: {{ curator.indices[item.1].prefix | default('logstash-' + item.1) }}
      exclude:
    - filtertype: age
      source: name
      direction: older
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: {{ curator.indices[item.1].delete | default(30) }}
      exclude:
