{
  "index_patterns": ["*"],
  "priority": "1",
  "template": {
    "settings" : {
      {% if groups['hosts_elasticsearch_data']|length > 1 %}
      "index.number_of_replicas": {{ composant.index_templates.default.replica }},
      {% else %}
      "index.number_of_replicas": 0,
      {% endif %}
      "index.number_of_shards": {{ composant.index_templates.default.shards }}
    }
  }
}
